<div class = "card">
    <div class = "card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate vitae officiis ullam, nesciunt fugiat
        velit? Placeat repellendus minus natus voluptatibus vel officia eos modi qui error fuga, voluptates quod 
        maxime odio amet perferendis ullam laboriosam perspiciatis laborum quibusdam expedita. Enim?</p>
    </div>
</div>