<div class = "jumbotron mt-4">
    <h1 class = "display-4">Ventas App NodeJS and MongoDB</h1>
    <p class = "lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class = "my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque error eum 
        asperiores repellat odit voluptatem dolorum ipsum recusandae molestiae totam 
        quae beatae aperiam, accusamus impedit reiciendis deleniti ab? Id?</p>
    <a href="https://cloud.mongodb.com/user#/atlas/login" class = "btn btn-primary btn-lg">Fidel MongoDB Cluster</a>
</div>

